<div class="portfolio-show">
  <h1><%= current_user.first_name %>'s ProFolio</h1>
  <div class="selfie">
    <% if current_user.image == "" %>
      <a href="<%= edit_user_path %>"><%= image_tag('default.png') %></a>
    <% else %>
      <a href="<%= edit_user_path %>"><img src="<%= current_user.image %>"></a>
    <% end %>
  </div>
  <center><%= link_to "Add Profile", user_profile_new_path(@user), class: 'btn btn-primary' %></center>
  <div class="icons">
    <% current_user.profiles.each do |profile| %>
      <a href="<%= profile.link %>" target="_blank"><%= image_tag("#{profile.provider}.png") %></a><%= link_to '', user_delete_profile_path(current_user, profile.id), class: 'glyphicon glyphicon-remove' %></a>
    <% end %>
  </div>
</div>
